/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Material Icons Styling */
.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
}

/* Navbar Branding */
.navbar-brand > .material-icons-outlined {
  font-size: 40px;
}

/* About Section Icon */
.about > .material-icons-outlined {
  font-size: 50px;
}

/* Hero Section */
.hero img {
  max-width: 100%;
  height: auto;
}

/* Hero Text Alignment */
.hero-text {
  margin-left: 0%; /* Adjust the percentage as needed */
}

/* Map Styling */
#map {
  height: 300px;
}

/* Card Styling */
.card {
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card > img {
  height: 250px;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.card-footer {
  background-color: transparent;
}

/* Card Body Text */
.card-body {
  color: #495057;
}

.card-body p {
  font-style: italic;
}

.card-body h5 {
  color: #343a40;
  font-weight: bold;
}

.card-body span {
  color: #6c757d;
}

.card-body ul {
  list-style-type: disc;
  padding-left: 1rem;
}

.card-body ul li {
  margin-bottom: 0.5rem;
  font-style: normal;
  font-size: 1rem;
}

/* Avatar Styling */
.avatar {
  border: 3px solid #007bff;
  padding: 0;
  width: 80px; /* Adjust width as needed */
  height: 80px; /* Adjust height as needed */
  overflow: hidden;
  border-radius: 50%;
}

.avatar img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.avatar:hover {
  border-color: #0056b3;
}

/* Testimonial Section */
.testimonial > img {
  height: 50px;
  width: 50px;
}

/* Experience Section */
.experience-container {
  background-color: #f8f9fa;
  padding: 2rem 0;
}

/* Footer Styling */
footer {
  background-color: #f8f9fa;
}

/* Certificates Section */
.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* Modal Styling */
.modal-body {
  text-align: left; /* Mengatur perataan teks di dalam modal body */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .hero img {
    display: none;
  }

  .avatar {
    width: 30px; /* Adjust for smaller screens */
    height: 30px; /* Adjust for smaller screens */
  }

  .card-body p {
    font-size: 0.9rem;
  }
}
