.jumbotron {
  padding-top: 5rem;
  background-color: #def2f1;
  background-image: url(img/bg.jpg);
  background-size: auto;
}

#certificate {
  background: #def2f1;
}

#experience {
  background: #def2f1;
}

section {
  padding-top: 5rem;
}

.navbar {
  background: #00abe1;
}

.footer {
  background-color: #00abe1;
}
